### 데이터 불러오기

#### 현재 경로 설정

In [2]:
import os
print(os.getcwd())

C:\Users\Gilseung\Desktop\work\파이썬을 이용한 머신러닝 자동화 시스템 구축\code\02. 파이썬을 이용한 머신러닝 모델 학습

In [4]:
os.chdir("C:/Users/Gilseung/Desktop/work/파이썬을 이용한 머신러닝 자동화 시스템 구축/data")
print(os.getcwd())

C:\Users\Gilseung\Desktop\work\파이썬을 이용한 머신러닝 자동화 시스템 구축\data

#### pd.read_csv 함수

In [7]:
import pandas as pd
df = pd.read_csv("classification/adult.csv")
display(df.head())

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,y
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

### 데이터 확인하기

#### shape 메서드

In [9]:
print(df.shape)

(48842, 15)

#### info 메서드

In [21]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      48842 non-null  int64
 1   x2      46043 non-null  object
 2   x3      48842 non-null  int64
 3   x4      48842 non-null  object
 4   x5      48842 non-null  int64
 5   x6      48842 non-null  object
 6   x7      46033 non-null  object
 7   x8      48842 non-null  object
 8   x9      48842 non-null  object
 9   x10     48842 non-null  object
 10  x11     48842 non-null  int64
 11  x12     48842 non-null  int64
 12  x13     48842 non-null  int64
 13  x14     47985 non-null  object
 14  y       48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

None

In [18]:
display(df.describe())

,x1,x3,x5,x11,x12,x13
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

### 데이터 분할하기

#### drop 메서드

In [22]:
X = df.drop('y', axis = 1)
y = df['y']

#### train_test_split 함수

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 2022)

#### KFold 함수

In [26]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5, shuffle = True)
for train_idx, test_idx in kf.split(X):
    X_train, X_test = X.loc[train_idx], X.loc[test_idx]
    y_train, y_test = y.loc[train_idx], y.loc[test_idx]